<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <label>
            <input name="username" required type="text"/>
        </label>
    </div>
    <div>
        <label for="password">Password:</label>
        <label>
            <input name="password" required type="password"/>
        </label>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
